* {
    color: white;
    
}
.header-section {
    background-image: url(../image/back.jpg);
    background-size: cover;
    font-family: 'Chosunilbo_myungjo';
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


section {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    /* padding: 100px 10% 100px 10%; */
    /* background-color: aquamarine; */
    align-items: center;
}

section > div {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    /* background-size: cover; */
    /* opacity: 0.3; */
}

article {
    /* border: 1px solid white; */
    /* background-color: blue; */
    width: 45%;
    height: 90%;
    margin-top: 30px;
    display: inline-block;
}

@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.text {
    /* display:; */
    padding-left: 50%;
}

.smallP {
    font-size: small;
    margin: 10px 10px;
}

.titleP {
    font-size: 38px;
    margin-left: 10px;
    margin-top: 30px;
    font-family: 'KimjungchulGothic-Bold';
}

.largeP {
    font-size: large;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}

article button {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    margin-left: 0px;
}
.unhidden {
    overflow: hidden;
    margin-left: 12px;
    /* margin-top: -15px; */
    font-size: small;
    margin-top: -30px;
    line-height: 20px;
}

.hidden{
    height: 0px;
}
/* .hidden:hover {
    height: 200px;
} */

.button-box {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 544px;
    height: 100px;
}

.button {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    font-size: small;
    /* font-family: 'Chosunilbo_myungjo'; */
}

button:hover {
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.reserve {
    background-color: rebeccapurple;
}

.review {
    background-color: slategrey;
}

.video {
    /* display: flex; */
    /* align-items: center; */
    padding-top: 30px;
    padding-left: 30px;
    /* justify-content: end; */
}