* {
    color: white;
    
}
.header-section {
    /* background-image: url(../image/back.jpg);
    background-size: cover; */
    font-family: 'Chosunilbo_myungjo';
    /* height: 800px; */
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.section1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    /* padding: 100px 10% 100px 10%; */
    /* background-color: aquamarine; */
    align-items: center;
}
.section3 {
    width: 100%;
    min-height: 300px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.section1 > div {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    /* background-size: cover; */
    /* opacity: 0.3; */
}

article {
    /* border: 1px solid white; */
    /* background-color: blue; */
    width: 45%;
    height: 90%;
    margin-top: 30px;
    display: inline-block;
}

@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.text_box{
    display: flex;
    justify-content: end;
}

.text {
    /* border: 1px solid red; */
    width: 600px;
    margin-top: 10px;
}

.smallP {
    font-size: small;
    margin: 10px 10px;
}

.titleP {
    font-size: 38px;
    margin-left: 10px;
    margin-top: 30px;
    font-family: 'KimjungchulGothic-Bold';
}

.largeP {
    font-size: large;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 22px;
}

article button {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    margin-left: 0px;
}
.unhidden {
    overflow: hidden;
    margin-left: 12px;
    /* margin-top: -15px; */
    font-size: small;
    margin-top: -30px;
    line-height: 20px;
}

.hidden{
    height: 0px;
}
/* .hidden:hover {
    height: 200px;
} */

.button-box {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 544px;
    height: 100px;
}

.button {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    font-size: small;
    /* font-family: 'Chosunilbo_myungjo'; */
}
button:hover {
    cursor: pointer;
}
.button:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.reserve {
    background-color: rebeccapurple;
}

.review {
    background-color: slategrey;
}

.video {
    /* display: flex; */
    /* align-items: center; */
    padding-top: 30px;
    padding-left: 30px;
    /* justify-content: end; */
}


#form-commentInfo{
    width: 800px;
    margin: 30px auto;
    /* background-color: slategrey; */
}

/* #comment-count{
    margin-bottom: 10px; 
    margin-left: 3px;
} */

#comment-input{
    width: 80%;
    height: 2.5em;
    padding-left: 10px;
    color: black;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    opacity: 0.3;
}
label {
    position: relative;
}
#submit{
    background-color: transparent;
    width: 65px;
    height: 31px;
    font-size: 13px;
    font-weight: bold;
    color: silver;
    /* border-radius: 20px; */
    border: 1px solid silver;
    position: relative;
    left: -70px;
    top: 1px;
}

#comments{
    margin-top: 10px;
    padding-bottom: 150px;
}

.eachComment{   
    width: 650px; 
    margin: 0 auto;
    padding: 0.5em; 
    border-bottom: 1px solid #c1bcba;
}

.eachComment .name{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
}

.eachComment .inputValue{
    font-size: 0.8em;
    /* font-style: italic;     */
}

.eachComment .time{
    font-size: 0.7em;
    color: #c1bcba;
    font-style: oblique;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}


.eachComment .deleteComment{
    background-color: transparent;
    border: 0px;
    color: aliceblue;
    width: 40px;
    font-size: 11px;
}

.section2 {
    width: 1100px;
    /* height: 900px; */
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}

.section2 >a {
    width: 1100px;
    /* height: 900px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.section2 > a > div {
    width: 20%;
    margin: 0px 10px 50px 10px;
    /* height: 300px; */
    /* border: 1px solid red; */
}

.section2 > a > div > img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    /* border: 1px solid silver; */
}

.SteelCut, #comment-count{
    width: 950px;
    padding-left: 65px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: large;
    border-bottom: 1px ridge silver;
}
.bigPictureWrapper {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    /* top: 0%; */
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: 100;
    background: rgba(14, 14, 14, 0.5);
}

.bigPicture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigPicture img {
    width: 600px;
}

#topBtn {
    width: 50px;
    height: 50px;
    position: fixed;
    border: 5px solid rebeccapurple;
    color: white;
    text-shadow: 1px 1px 2px black;
    border-radius: 100%;
    /* margin-top: 900px; */
    bottom: 30px;
    right: 30px;
    /* margin-left: 95%; */
    text-align: center;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-image: url(../image/up-arrow.png); */
    background-size: cover;
    cursor: pointer;
    z-index: 101;
}